* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(196, 193, 193);
}

#wrapper, #outputArea {
    display: flex;
    width: 50%;
    margin: auto;
}

.form, h2, #outputArea {
    width: 80%;
    margin: auto;
}

h1, h2 {
    padding: 5px;
}

button {
    margin: 5px;
    padding: 2px;
}